In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
df = pd.read_excel('final_data2.xlsx')
df.head()

,Type of Degree,Department,Honor Grade of Degree,Job title and Workplace,Type of employment,Sector,Date of current appointment,Monthly Salary (Rs-),From_Newspaper,From_Gazette,...,Reading_Other,English_Oral,English_Written,Student Associations,Organizing Workshops & Seminars,Charities,Sports,Cultural Activities,Other,Award/Achievement
0,Joint Major,ELTN,Second Lower,Infrastructure Network Engineer,Contract Basis,Private,2017-07-10 00:00:00,60000.0,0,0,...,0,Average,Average,1,1,1,1,1,1,1s Place ...
1,Joint Major,MMST,Second Lower,Operations Assistant Manager,Permanent,Private,2017-07-03 00:00:00,40000.0,0,0,...,0,Good,Good,1,1,1,1,1,1,University Colors
2,Joint Major,ELTN,Pass,Technical Officer,Permanent,Private,2017-04-24 00:00:00,30000.0,0,0,...,0,Good,Good,1,1,0,0,1,0,NaN
3,Joint Major,CMIS,Second Lower,Software Engineer,Permanent,Private,2017-02-04 00:00:00,40000.0,0,0,...,0,Average,Average,1,1,0,1,1,0,NaN
4,Joint Major,ELTN,Pass,Customer support Engineer,Permanent,Private,2017-03-13 00:00:00,30000.0,0,0,...,0,Good,Good,0,0,0,1,0,0,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 61 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Type of Degree                                                  363 non-null    object
 1   Department                                                      363 non-null    object
 2   Honor Grade of Degree                                           363 non-null    object
 3   Job title and Workplace                                         363 non-null    object
 4   Type of employment                                              363 non-null    object
 5   Sector                                                          363 non-null    object
 6   Date of current appointment                                     283 non-null    object
 7   Monthly Salary (Rs-)                                            308 non-null    float64
 8   From_Newspaper                                                  363 non-null    int64
 9   From_Gazette                                                    363 non-null    int64
 10  From_Online                                                     363 non-null    int64
 11  From_personal contacts                                          363 non-null    int64
 12  From_Competitive exam                                           363 non-null    int64
 13  From_Via internship (training)                                  363 non-null    int64
 14  From_Via university                                             363 non-null    int64
 15  From_Job fair/Career Guidance                                   363 non-null    int64
 16  From_Continuing with same job held during university education  363 non-null    int64
 17  From_Other                                                      363 non-null    int64
 18  Factor_Degree                                                   363 non-null    int64
 19  Factor_Class of degree                                          363 non-null    int64
 20  Factor_University Project                                       363 non-null    int64
 21  Factor_Reputation of university                                 363 non-null    int64
 22  Factor_Field of study                                           363 non-null    int64
 23  Factor_Research experience                                      363 non-null    int64
 24  Factor_Personal contacts                                        363 non-null    int64
 25  Factor_Previous work experience                                 363 non-null    int64
 26  Factor_English proficiency                                      363 non-null    int64
 27  Factor_Other professional qualifications                        363 non-null    int64
 28  Factor_Soft skills                                              363 non-null    int64
 29  Factor_Computer literacy                                        363 non-null    int64
 30  Factor_Other                                                    363 non-null    int64
 31  Additional qualifications                                       363 non-null    int64
 32  Completed_Diploma                                               363 non-null    int64
 33  Completed_M-Sc-                                                 363 non-null    int64
 34  Completed_M-Phil-                                               363 non-null    int64
 35  Completed_MBA                                                   363 non-null    int64
 36  Completed_Ph-D-                                                 363 non-null    int64
 37  Completed_LL-B-                                                 363 non-null    int64
 38  Completed_CIMA                                                  363 non-null    int64
 39  Completed_Chartered Accountancy                                 363 non-null    int64
 40  Completed_CMA                                                   363 non-null    int64
 41  Completed_Other                                                 363 non-null    int64
 42  Reading_Diploma                                                 363 non-null    int64
 43  Reading_M-Sc-                                                   363 non-null    int64
 44  Reading_M-Phil-                                                 363 non-null    int64
 45  Reading_MBA                                                     363 non-null    int64
 46  Reading_Ph-D-                                                   363 non-null    int64
 47  Reading_LL-B-                                                   363 non-null    int64
 48  Reading_CIMA                                                    363 non-null    int64
 49  Reading_Chartered Accountancy                                   363 non-null    int64
 50  Reading_CMA                                                     363 non-null    int64
 51  Reading_Other                                                   363 non-null    int64
 52  English_Oral                                                    363 non-null    object
 53  English_Written                                                 363 non-null    object
 54  Student Associations                                            363 non-null    int64
 55  Organizing Workshops & Seminars                                 363 non-null    int64
 56  Charities                                                       363 non-null    int64
 57  Sports                                                          363 non-null    int64
 58  Cultural Activities                                             363 non-null    int64
 59  Other                                                           363 non-null    int64
 60  Award/Achievement                                               71 non-null     object
dtypes: float64(1), int64(50), object(10)
memory usage: 173.1+ KB