In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_excel('final_data2.xlsx')
df.head(25)

In [ ]:
df.info()

In [ ]:
df['English_Oral'].unique()

In [ ]:
df['English_Written'].unique()

Ordinal Encoding

In [ ]:
category_mapping = {'Poor': 0, 'Average': 1, 'Good': 2, 'Very Good': 3, 'Excellent': 4}
df['English_Oral'] = df['English_Oral'].map(category_mapping)
df['English_Written'] = df['English_Written'].map(category_mapping)
df.head()

In [ ]:
# Preprocess job titles: Remove unnecessary characters like '-' and extra spaces
df['Job title'] = df['Job title'].str.replace('-', ' ', regex=False).str.strip()

In [ ]:
df['Job title'].unique()
len(df['Job title'].unique())

In [ ]:
from sentence_transformers import SentenceTransformer
from sklearn.cluster import AgglomerativeClustering

# Load a pre-trained model for embeddings
model = SentenceTransformer('all-MiniLM-L6-v2')

# Generate embeddings for job titles
unique_titles = df['Job title'].unique()
embeddings = model.encode(unique_titles)

# Cluster job titles
clustering = AgglomerativeClustering(n_clusters=None, distance_threshold=1.5)
clusters = clustering.fit_predict(embeddings)

# Map job titles to clusters
cluster_mapping = dict(zip(unique_titles, clusters))
df['Job Cluster'] = df['Job title'].map(cluster_mapping)

# Map clusters to representative job titles
cluster_representative = df.groupby('Job Cluster')['Job title'].apply(lambda x: x.mode()[0])
df['Job title'] = df['Job Cluster'].map(cluster_representative)

# Display both Job title and Job title2 as a separate DataFrame
df_titles = df[['Job title', 'Job title']]
print(df_titles.head(30))

In [ ]:
print(len(df['Job title'].unique()))

In [ ]:
df['Job title'].unique()

Zero-Shot Classification

In [ ]:
# from transformers import pipeline

# # Define your candidate categories
# candidate_labels = [
#     "Software Engineering", "Data Science", "Data Analyst", "Marketing", "Finance", "Human Resources",
#     "Product Management", "Customer Support", "Sales", "Design", "Operations"
# ]


# # Initialize zero-shot classification pipeline
# classifier = pipeline("zero-shot-classification", model="joeddav/xlm-roberta-large-xnli")

# # Get unique job titles
# unique_titles = df['Job title'].unique()

# # Classify each job title
# title_to_category = {}
# for title in unique_titles:
#     result = classifier(title, candidate_labels)
#     best_label = result['labels'][0]  # Top predicted category
#     title_to_category[title] = best_label

# # Map results back to the DataFrame
# df['Job Category'] = df['Job title'].map(title_to_category)

# # Display original and categorized titles
# df_titles = df[['Job title', 'Job Category']]
# print(df_titles.head())

In [ ]:
df.head()

In [ ]:
df['Date of current appointment '] = pd.to_datetime(df['Date of current appointment '], format="%Y-%m", errors='coerce').dt.to_period('M')

In [ ]:
df['Date of current appointment '].dtype

In [ ]:
df = df.iloc[:,0:61]

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 61 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Type of Degree                                                  363 non-null    object
 1   Department                                                      363 non-null    object
 2   Honor Grade of Degree                                           363 non-null    object
 3   Job title                                                       363 non-null    object
 4   Type of employment                                              363 non-null    object
 5   Sector                                                          363 non-null    object
 6   Date of current appointment                                     282 non-null    period[M]
 7   Monthly Salary (Rs-)                                            308 non-null    float64
 8   From_Newspaper                                                  363 non-null    int64
 9   From_Gazette                                                    363 non-null    int64
 10  From_Online                                                     363 non-null    int64
 11  From_personal contacts                                          363 non-null    int64
 12  From_Competitive exam                                           363 non-null    int64
 13  From_Via internship (training)                                  363 non-null    int64
 14  From_Via university                                             363 non-null    int64
 15  From_Job fair/Career Guidance                                   363 non-null    int64
 16  From_Continuing with same job held during university education  363 non-null    int64
 17  From_Other                                                      363 non-null    int64
 18  Factor_Degree                                                   363 non-null    int64
 19  Factor_Class of degree                                          363 non-null    int64
 20  Factor_University Project                                       363 non-null    int64
 21  Factor_Reputation of university                                 363 non-null    int64
 22  Factor_Field of study                                           363 non-null    int64
 23  Factor_Research experience                                      363 non-null    int64
 24  Factor_Personal contacts                                        363 non-null    int64
 25  Factor_Previous work experience                                 363 non-null    int64
 26  Factor_English proficiency                                      363 non-null    int64
 27  Factor_Other professional qualifications                        363 non-null    int64
 28  Factor_Soft skills                                              363 non-null    int64
 29  Factor_Computer literacy                                        363 non-null    int64
 30  Factor_Other                                                    363 non-null    int64
 31  Additional qualifications                                       363 non-null    int64
 32  Completed_Diploma                                               363 non-null    int64
 33  Completed_M-Sc-                                                 363 non-null    int64
 34  Completed_M-Phil-                                               363 non-null    int64
 35  Completed_MBA                                                   363 non-null    int64
 36  Completed_Ph-D-                                                 363 non-null    int64
 37  Completed_LL-B-                                                 363 non-null    int64
 38  Completed_CIMA                                                  363 non-null    int64
 39  Completed_Chartered Accountancy                                 363 non-null    int64
 40  Completed_CMA                                                   363 non-null    int64
 41  Completed_Other                                                 363 non-null    int64
 42  Reading_Diploma                                                 363 non-null    int64
 43  Reading_M-Sc-                                                   363 non-null    int64
 44  Reading_M-Phil-                                                 363 non-null    int64
 45  Reading_MBA                                                     363 non-null    int64
 46  Reading_Ph-D-                                                   363 non-null    int64
 47  Reading_LL-B-                                                   363 non-null    int64
 48  Reading_CIMA                                                    363 non-null    int64
 49  Reading_Chartered Accountancy                                   363 non-null    int64
 50  Reading_CMA                                                     363 non-null    int64
 51  Reading_Other                                                   363 non-null    int64
 52  English_Oral                                                    363 non-null    int64
 53  English_Written                                                 363 non-null    int64
 54  Student Associations                                            363 non-null    int64
 55  Organizing Workshops & Seminars                                 363 non-null    int64
 56  Charities                                                       363 non-null    int64
 57  Sports                                                          363 non-null    int64
 58  Cultural Activities                                             363 non-null    int64
 59  Other                                                           363 non-null    int64
 60  Award/Achievement                                               71 non-null     object
dtypes: float64(1), int64(52), object(7), period[M](1)
memory usage: 173.1+ KB

In [ ]:
df.to_excel('cleaned_data.xlsx', index=False, header=True)

manually replace 353th datetime into 2019-05