In [95]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [96]:
df = pd.read_excel('final_data2.xlsx')
df.head(25)

,Type of Degree,Department,Honor Grade of Degree,Job title,Type of employment,Sector,Date of current appointment,Monthly Salary (Rs-),From_Newspaper,From_Gazette,...,Reading_Other,English_Oral,English_Written,Student Associations,Organizing Workshops & Seminars,Charities,Sports,Cultural Activities,Other,Award/Achievement
0,Joint Major,ELTN,Second Lower,Infrastructure Network Engineer,Contract Basis,Private,2017-07-10 00:00:00,60000.0,0,0,...,0,Average,Average,1,1,1,1,1,1,1s Place ...
1,Joint Major,MMST,Second Lower,Operations Assistant Manager,Permanent,Private,2017-07-03 00:00:00,40000.0,0,0,...,0,Good,Good,1,1,1,1,1,1,University Colors
2,Joint Major,ELTN,Pass,Technical Officer,Permanent,Private,2017-04-24 00:00:00,30000.0,0,0,...,0,Good,Good,1,1,0,0,1,0,NaN
3,Joint Major,CMIS,Second Lower,Software Engineer,Permanent,Private,2017-02-04 00:00:00,40000.0,0,0,...,0,Average,Average,1,1,0,1,1,0,NaN
4,Joint Major,ELTN,Pass,Customer support Engineer,Permanent,Private,2017-03-13 00:00:00,30000.0,0,0,...,0,Good,Good,0,0,0,1,0,0,NaN
5,Joint Major,ELTN,Pass,IT Executive,Permanent,Private,2017-04-17 00:00:00,30000.0,0,0,...,0,Good,Good,0,0,0,1,0,0,NaN
6,Joint Major,ELTN,Pass,IT Executive,Permanent,Private,NaN,45000.0,0,0,...,0,Average,Good,0,1,1,1,1,0,NaN
7,Joint Major,ELTN,Pass,Electronic Engineer,Permanent,Private,2017-05-12 00:00:00,NaN,0,0,...,0,Good,Good,1,1,1,0,1,1,NaN
8,Special,IMGT,Pass,Producion Executive,Training,Private,2017-06-01 00:00:00,40000.0,0,0,...,0,Good,Very Good,1,1,1,1,1,0,NaN
9,Joint Major,CMIS,Pass,Demonstrator,Temporary,Government,2017-03-27 00:00:00,39720.0,0,0,...,0,Good,Good,1,0,1,1,1,1,NaN
10,Special,MMST,Second Upper,Tutor,Temporary,Government,NaN,NaN,0,0,...,0,Average,Average,1,1,1,0,1,1,NaN
11,Joint Major,IMGT,Pass,Coordinator,Contract Basis,Semi Government,NaN,35000.0,0,0,...,0,Good,Very Good,1,1,1,0,1,1,NaN
12,Joint Major,ELTN,Second Lower,Demonstrator,Temporary,Government,2017-06-01 00:00:00,40000.0,0,1,...,1,Average,Average,1,1,0,1,1,0,NaN
13,Joint Major,CMIS,Second Upper,Software Engineer,Permanent,Private,2017-02-06 00:00:00,70000.0,0,0,...,0,Good,Good,1,1,1,1,1,1,Faculty Awards-2016
14,Joint Major,CMIS,Second Lower,Software Engineer,Permanent,Private,2017-02-06 00:00:00,70000.0,0,0,...,0,Average,Good,1,1,1,1,1,1,Faculty Award-2017
15,Special,ELTN,Second Upper,Demonstrator,Temporary,Government,NaN,39720.0,0,0,...,0,Average,Good,1,1,1,1,1,1,NaN
16,Joint Major,ELTN,Second Lower,Demonstrator,Temporary,Government,NaN,39720.0,0,0,...,0,Average,Good,1,1,1,0,1,0,NaN
17,Joint Major,CMIS,Second Lower,software developer,Permanent,Private,NaN,25000.0,0,0,...,0,Good,Good,1,1,1,0,1,0,NaN
18,Joint Major,ELTN,Second Lower,Demonstrator,Temporary,Semi Government,NaN,NaN,0,0,...,0,Average,Average,1,1,1,1,1,0,NaN
19,Joint Major,IMGT,Pass,Tutor,Temporary,Government,NaN,39720.0,0,0,...,0,Good,Good,1,1,1,1,1,1,NaN
20,Special,IMGT,Second Upper,Tutor,Temporary,Government,NaN,39720.0,0,0,...,0,Good,Good,1,1,1,1,1,0,NaN
21,Special,IMGT,Pass,Research Assistant,Temporary,Government,2017-05-01 00:00:00,50000.0,0,0,...,0,Good,Good,1,1,1,1,1,0,NaN
22,Joint Major,CMIS,Second Lower,Demonstrator,Temporary,Government,2017-03-07 00:00:00,39720.0,0,0,...,0,Very Good,Good,1,1,1,1,1,0,NaN
23,Joint Major,CMIS,Second Upper,Demonstrator,Temporary,Semi Government,2017-03-01 00:00:00,39720.0,0,0,...,0,Very Good,Good,1,0,0,1,1,0,NaN
24,Special,IMGT,Second Lower,Intern,Training,Private,NaN,15000.0,0,0,...,0,Good,Good,1,1,1,1,1,0,NaN

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 61 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Type of Degree                                                  363 non-null    object
 1   Department                                                      363 non-null    object
 2   Honor Grade of Degree                                           363 non-null    object
 3   Job title                                                       363 non-null    object
 4   Type of employment                                              363 non-null    object
 5   Sector                                                          363 non-null    object
 6   Date of current appointment                                     283 non-null    object
 7   Monthly Salary (Rs-)                                            308 non-null    float64
 8   From_Newspaper                                                  363 non-null    int64
 9   From_Gazette                                                    363 non-null    int64
 10  From_Online                                                     363 non-null    int64
 11  From_personal contacts                                          363 non-null    int64
 12  From_Competitive exam                                           363 non-null    int64
 13  From_Via internship (training)                                  363 non-null    int64
 14  From_Via university                                             363 non-null    int64
 15  From_Job fair/Career Guidance                                   363 non-null    int64
 16  From_Continuing with same job held during university education  363 non-null    int64
 17  From_Other                                                      363 non-null    int64
 18  Factor_Degree                                                   363 non-null    int64
 19  Factor_Class of degree                                          363 non-null    int64
 20  Factor_University Project                                       363 non-null    int64
 21  Factor_Reputation of university                                 363 non-null    int64
 22  Factor_Field of study                                           363 non-null    int64
 23  Factor_Research experience                                      363 non-null    int64
 24  Factor_Personal contacts                                        363 non-null    int64
 25  Factor_Previous work experience                                 363 non-null    int64
 26  Factor_English proficiency                                      363 non-null    int64
 27  Factor_Other professional qualifications                        363 non-null    int64
 28  Factor_Soft skills                                              363 non-null    int64
 29  Factor_Computer literacy                                        363 non-null    int64
 30  Factor_Other                                                    363 non-null    int64
 31  Additional qualifications                                       363 non-null    int64
 32  Completed_Diploma                                               363 non-null    int64
 33  Completed_M-Sc-                                                 363 non-null    int64
 34  Completed_M-Phil-                                               363 non-null    int64
 35  Completed_MBA                                                   363 non-null    int64
 36  Completed_Ph-D-                                                 363 non-null    int64
 37  Completed_LL-B-                                                 363 non-null    int64
 38  Completed_CIMA                                                  363 non-null    int64
 39  Completed_Chartered Accountancy                                 363 non-null    int64
 40  Completed_CMA                                                   363 non-null    int64
 41  Completed_Other                                                 363 non-null    int64
 42  Reading_Diploma                                                 363 non-null    int64
 43  Reading_M-Sc-                                                   363 non-null    int64
 44  Reading_M-Phil-                                                 363 non-null    int64
 45  Reading_MBA                                                     363 non-null    int64
 46  Reading_Ph-D-                                                   363 non-null    int64
 47  Reading_LL-B-                                                   363 non-null    int64
 48  Reading_CIMA                                                    363 non-null    int64
 49  Reading_Chartered Accountancy                                   363 non-null    int64
 50  Reading_CMA                                                     363 non-null    int64
 51  Reading_Other                                                   363 non-null    int64
 52  English_Oral                                                    363 non-null    object
 53  English_Written                                                 363 non-null    object
 54  Student Associations                                            363 non-null    int64
 55  Organizing Workshops & Seminars                                 363 non-null    int64
 56  Charities                                                       363 non-null    int64
 57  Sports                                                          363 non-null    int64
 58  Cultural Activities                                             363 non-null    int64
 59  Other                                                           363 non-null    int64
 60  Award/Achievement                                               71 non-null     object
dtypes: float64(1), int64(50), object(10)
memory usage: 173.1+ KB

In [98]:
df['English_Oral'].unique()

array(['Average', 'Good', 'Very Good', 'Poor', 'Excellent'], dtype=object)

In [99]:
df['English_Written'].unique()

array(['Average', 'Good', 'Very Good', 'Poor', 'Excellent'], dtype=object)

Ordinal Encoding

In [100]:
category_mapping = {'Poor': 0, 'Average': 1, 'Good': 2, 'Very Good': 3, 'Excellent': 4}
df['English_Oral'] = df['English_Oral'].map(category_mapping)
df['English_Written'] = df['English_Written'].map(category_mapping)
df.head()

,Type of Degree,Department,Honor Grade of Degree,Job title,Type of employment,Sector,Date of current appointment,Monthly Salary (Rs-),From_Newspaper,From_Gazette,...,Reading_Other,English_Oral,English_Written,Student Associations,Organizing Workshops & Seminars,Charities,Sports,Cultural Activities,Other,Award/Achievement
0,Joint Major,ELTN,Second Lower,Infrastructure Network Engineer,Contract Basis,Private,2017-07-10 00:00:00,60000.0,0,0,...,0,1,1,1,1,1,1,1,1,1s Place ...
1,Joint Major,MMST,Second Lower,Operations Assistant Manager,Permanent,Private,2017-07-03 00:00:00,40000.0,0,0,...,0,2,2,1,1,1,1,1,1,University Colors
2,Joint Major,ELTN,Pass,Technical Officer,Permanent,Private,2017-04-24 00:00:00,30000.0,0,0,...,0,2,2,1,1,0,0,1,0,NaN
3,Joint Major,CMIS,Second Lower,Software Engineer,Permanent,Private,2017-02-04 00:00:00,40000.0,0,0,...,0,1,1,1,1,0,1,1,0,NaN
4,Joint Major,ELTN,Pass,Customer support Engineer,Permanent,Private,2017-03-13 00:00:00,30000.0,0,0,...,0,2,2,0,0,0,1,0,0,NaN

In [101]:
# Preprocess job titles: Remove unnecessary characters like '-' and extra spaces
df['Job title'] = df['Job title'].str.replace('-', ' ', regex=False).str.strip()

In [102]:
df['Job title'].unique()
len(df['Job title'].unique())

215

In [103]:
from sentence_transformers import SentenceTransformer
from sklearn.cluster import AgglomerativeClustering

# Load a pre-trained model for embeddings
model = SentenceTransformer('all-MiniLM-L6-v2')

# Generate embeddings for job titles
unique_titles = df['Job title'].unique()
embeddings = model.encode(unique_titles)

# Cluster job titles
clustering = AgglomerativeClustering(n_clusters=None, distance_threshold=1.5)
clusters = clustering.fit_predict(embeddings)

# Map job titles to clusters
cluster_mapping = dict(zip(unique_titles, clusters))
df['Job Cluster'] = df['Job title'].map(cluster_mapping)

# Map clusters to representative job titles
cluster_representative = df.groupby('Job Cluster')['Job title'].apply(lambda x: x.mode()[0])
df['Job title'] = df['Job Cluster'].map(cluster_representative)

# Display both Job title and Job title2 as a separate DataFrame
df_titles = df[['Job title', 'Job title']]
print(df_titles.head(30))

                       Job title                     Job title
0                  Site Engineer                 Site Engineer
1           Management Assistant          Management Assistant
2             Engineer Executive            Engineer Executive
3              Software Engineer             Software Engineer
4   Biomedical Service Technical  Biomedical Service Technical
5                   IT Executive                  IT Executive
6                   IT Executive                  IT Executive
7                  Site Engineer                 Site Engineer
8                   IT Executive                  IT Executive
9                   Demonstrator                  Demonstrator
10                         Tutor                         Tutor
11                   Coordinator                   Coordinator
12                  Demonstrator                  Demonstrator
13             Software Engineer             Software Engineer
14             Software Engineer             Software Engineer
15                  Demonstrator                  Demonstrator
16                  Demonstrator                  Demonstrator
17             Software Engineer             Software Engineer
18                  Demonstrator                  Demonstrator
19                         Tutor                         Tutor
20                         Tutor                         Tutor
21            Research Assistant            Research Assistant
22                  Demonstrator                  Demonstrator
23                  Demonstrator                  Demonstrator
24                        Intern                        Intern
25                         Tutor                         Tutor
26   Associate Software Engineer   Associate Software Engineer
27                 Site Engineer                 Site Engineer
28                   Coordinator                   Coordinator
29          Inspector of Customs          Inspector of Customs

In [104]:
print(len(df['Job title'].unique()))

27

In [105]:
df['Job title'].unique()

array(['Site Engineer', 'Management Assistant', 'Engineer Executive',
       'Software Engineer', 'Biomedical Service Technical',
       'IT Executive', 'Demonstrator', 'Tutor', 'Coordinator',
       'Research Assistant', 'Intern', 'Associate Software Engineer',
       'Inspector of Customs', 'Management Trainee',
       'Associate Data Engineer', 'Executive planning',
       'Associate web engineer', 'Data Analysis', 'Business Analyst',
       'Sales & Admin Support', 'Merchandising & planning', 'Analyst',
       'Production Executive', 'associate Quality Assurance Engineer',
       'Executire Bulk Merchenclder', 'Associate Operations Analyst',
       'It Support Associate'], dtype=object)

Zero-Shot Classification

In [106]:
# from transformers import pipeline

# # Define your candidate categories
# candidate_labels = [
#     "Software Engineering", "Data Science", "Data Analyst", "Marketing", "Finance", "Human Resources",
#     "Product Management", "Customer Support", "Sales", "Design", "Operations"
# ]


# # Initialize zero-shot classification pipeline
# classifier = pipeline("zero-shot-classification", model="joeddav/xlm-roberta-large-xnli")

# # Get unique job titles
# unique_titles = df['Job title'].unique()

# # Classify each job title
# title_to_category = {}
# for title in unique_titles:
#     result = classifier(title, candidate_labels)
#     best_label = result['labels'][0]  # Top predicted category
#     title_to_category[title] = best_label

# # Map results back to the DataFrame
# df['Job Category'] = df['Job title'].map(title_to_category)

# # Display original and categorized titles
# df_titles = df[['Job title', 'Job Category']]
# print(df_titles.head())

In [107]:
df.head()

,Type of Degree,Department,Honor Grade of Degree,Job title,Type of employment,Sector,Date of current appointment,Monthly Salary (Rs-),From_Newspaper,From_Gazette,...,English_Oral,English_Written,Student Associations,Organizing Workshops & Seminars,Charities,Sports,Cultural Activities,Other,Award/Achievement,Job Cluster
0,Joint Major,ELTN,Second Lower,Site Engineer,Contract Basis,Private,2017-07-10 00:00:00,60000.0,0,0,...,1,1,1,1,1,1,1,1,1s Place ...,3
1,Joint Major,MMST,Second Lower,Management Assistant,Permanent,Private,2017-07-03 00:00:00,40000.0,0,0,...,2,2,1,1,1,1,1,1,University Colors,18
2,Joint Major,ELTN,Pass,Engineer Executive,Permanent,Private,2017-04-24 00:00:00,30000.0,0,0,...,2,2,1,1,0,0,1,0,NaN,19
3,Joint Major,CMIS,Second Lower,Software Engineer,Permanent,Private,2017-02-04 00:00:00,40000.0,0,0,...,1,1,1,1,0,1,1,0,NaN,25
4,Joint Major,ELTN,Pass,Biomedical Service Technical,Permanent,Private,2017-03-13 00:00:00,30000.0,0,0,...,2,2,0,0,0,1,0,0,NaN,8

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 62 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Type of Degree                                                  363 non-null    object
 1   Department                                                      363 non-null    object
 2   Honor Grade of Degree                                           363 non-null    object
 3   Job title                                                       363 non-null    object
 4   Type of employment                                              363 non-null    object
 5   Sector                                                          363 non-null    object
 6   Date of current appointment                                     283 non-null    object
 7   Monthly Salary (Rs-)                                            308 non-null    float64
 8   From_Newspaper                                                  363 non-null    int64
 9   From_Gazette                                                    363 non-null    int64
 10  From_Online                                                     363 non-null    int64
 11  From_personal contacts                                          363 non-null    int64
 12  From_Competitive exam                                           363 non-null    int64
 13  From_Via internship (training)                                  363 non-null    int64
 14  From_Via university                                             363 non-null    int64
 15  From_Job fair/Career Guidance                                   363 non-null    int64
 16  From_Continuing with same job held during university education  363 non-null    int64
 17  From_Other                                                      363 non-null    int64
 18  Factor_Degree                                                   363 non-null    int64
 19  Factor_Class of degree                                          363 non-null    int64
 20  Factor_University Project                                       363 non-null    int64
 21  Factor_Reputation of university                                 363 non-null    int64
 22  Factor_Field of study                                           363 non-null    int64
 23  Factor_Research experience                                      363 non-null    int64
 24  Factor_Personal contacts                                        363 non-null    int64
 25  Factor_Previous work experience                                 363 non-null    int64
 26  Factor_English proficiency                                      363 non-null    int64
 27  Factor_Other professional qualifications                        363 non-null    int64
 28  Factor_Soft skills                                              363 non-null    int64
 29  Factor_Computer literacy                                        363 non-null    int64
 30  Factor_Other                                                    363 non-null    int64
 31  Additional qualifications                                       363 non-null    int64
 32  Completed_Diploma                                               363 non-null    int64
 33  Completed_M-Sc-                                                 363 non-null    int64
 34  Completed_M-Phil-                                               363 non-null    int64
 35  Completed_MBA                                                   363 non-null    int64
 36  Completed_Ph-D-                                                 363 non-null    int64
 37  Completed_LL-B-                                                 363 non-null    int64
 38  Completed_CIMA                                                  363 non-null    int64
 39  Completed_Chartered Accountancy                                 363 non-null    int64
 40  Completed_CMA                                                   363 non-null    int64
 41  Completed_Other                                                 363 non-null    int64
 42  Reading_Diploma                                                 363 non-null    int64
 43  Reading_M-Sc-                                                   363 non-null    int64
 44  Reading_M-Phil-                                                 363 non-null    int64
 45  Reading_MBA                                                     363 non-null    int64
 46  Reading_Ph-D-                                                   363 non-null    int64
 47  Reading_LL-B-                                                   363 non-null    int64
 48  Reading_CIMA                                                    363 non-null    int64
 49  Reading_Chartered Accountancy                                   363 non-null    int64
 50  Reading_CMA                                                     363 non-null    int64
 51  Reading_Other                                                   363 non-null    int64
 52  English_Oral                                                    363 non-null    int64
 53  English_Written                                                 363 non-null    int64
 54  Student Associations                                            363 non-null    int64
 55  Organizing Workshops & Seminars                                 363 non-null    int64
 56  Charities                                                       363 non-null    int64
 57  Sports                                                          363 non-null    int64
 58  Cultural Activities                                             363 non-null    int64
 59  Other                                                           363 non-null    int64
 60  Award/Achievement                                               71 non-null     object
 61  Job Cluster                                                     363 non-null    int64
dtypes: float64(1), int64(53), object(8)
memory usage: 176.0+ KB

In [109]:
df = df.iloc[:,0:61]

In [110]:
df.to_excel('cleaned_data.xlsx', index=False, header=True)